@mixin container($head: 'container',
  $padding: 1rem 2rem,
  $head-color: navy,
  $background-color: white,
  $head-background-color: white,
  $border: 1px solid gray,
  $border-radius: 10px,
  $box-shadow: none,
  $box-sizing: border-box,
  $width: max-content,
  $top: -10px,
  $left: 2rem) {
  position: relative;
  width: $width;
  padding: $padding;
  background-color: $background-color;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  box-sizing: $box-sizing;

  &::before {
    position: absolute;
    content: '\00a0 \00a0' + $head + '\00a0 \00a0';
    top: $top;
    left: $left;
    color: navy;
    background-color: $head-background-color;
    height: 1rem;
    opacity:1;
    z-index:10;
    font-size:15px;
    width: $width;
  }
}