:root {
  --bg: #f8f9fa;
  --text: #212529;
  --card: #ffffff;
  --btn-bg: #121212;
  --btn-text: #121212;
  --pre-color: navy;
  --panel-bg-color: #f8f9fa;
  --input-bg-color: #f8f9fa;
  --input-color: #121212;
  --label-bg-color: #e1e1e1;
  --label-color: #121212;
  --summary-bg-color: rgb(179, 228, 247);
  --summary-color: navy;
  --candidate-color: navy;
  --candidate-bg-color: aliceblue;

}

:global(.dark) {
  --bg: #121212;
  --text: #e0e0e0;
  --card: #1e1e1e;
  --btn-bg: #f8f9fa;
  --btn-text: #f8f9fa;
  --pre-color: skyblue;
  --panel-bg-color: #121212;
  --input-bg-color: #121212;
  --input-color: lightgreen;
  --label-bg-color: #323232;
  --label-color: #a2a2a2;
  --summary-bg-color: skyblue;
  --summary-color: #121212;
  --candidate-color: skyblue;
  --candidate-bg-color: #121212;
}

@mixin container($head: 'container',
  $padding: 1rem 2rem,
  $background-color: white,
  $head-color: navy,
  $head-background-color: rgb(208, 225, 239),
  $border: 1px solid gray,
  $border-radius: 10px,
  $box-shadow: none,
  $box-sizing: border-box,
  $width: max-content,
  $top: -10px,
  $left: 2rem) {
  position: relative;
  width: $width;
  padding: $padding;
  color: $head-color;
  background-color: $background-color;
  border: $border;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  box-sizing: $box-sizing;

  &::before {
    position: absolute;
    content: '\00a0 \00a0' + $head + '\00a0 \00a0';
    top: $top;
    left: $left;
    color: var(--candidate-color);
    background-color: var(--candidate-bg-color);
    height: 1rem;
    opacity: 1;
    z-index: 10;
    font-size: 15px;
    width: $width;
  }
}